<form [formGroup]="formDestination">
  <mat-form-field style="width:100%;">
    <input matInput placeholder="Nom" formControlName="name" required>
  </mat-form-field>
  <mat-form-field style="width:70%;">
    <input matInput placeholder="Adresse" formControlName="address" required>
  </mat-form-field>
  <mat-form-field style="width:30%;">
    <input matInput placeholder="N°" formControlName="number" required>
  </mat-form-field>
  <mat-form-field style="width:30%;">
    <input type="number" min="0" matInput placeholder="c.p." formControlName="cp" required>
  </mat-form-field>
  <mat-form-field style="width:70%;">
    <input matInput placeholder="Ville" formControlName="state" required>
  </mat-form-field>
  <mat-form-field style="width:100%;">
    <input matInput placeholder="Telephone" formControlName="phone" required>
  </mat-form-field>
  <mat-form-field style="width:100%;">
    <input matInput placeholder="Contact" formControlName="contact">
  </mat-form-field>
  <mat-form-field style="width:100%;">
    <textarea matInput placeholder="Message" formControlName="message"></textarea>
  </mat-form-field>
</form>


