<!--<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">-->
  <!--{{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}-->
<!--</button>-->

<mat-card style="display:flex;margin:auto;flex-direction:column;width:1400px">
  <mat-card-content>
    <h2 class="example-h2">Commande de livraison de traduction.</h2>
  </mat-card-content>
</mat-card>
<mat-horizontal-stepper style="display:flex;margin:auto;flex-direction:column;width:1400px" [linear]="true" #stepper>
  <mat-step [stepControl]="myOrderForm.get('step1')">
    <form [formGroup]="myOrderForm.get('step1')">
      <ng-template matStepLabel>Documents</ng-template>
      <div style="display:flex;margin:auto;width:500px;" >
        <mat-card>
          <mat-card-content>
            <h2 class="example-h2">Obligatoire</h2>
            <div style="display:flex;flex-direction:column;width:200px;margin:10px;">
              <mat-form-field>
                <input matInput placeholder="Pays" formControlName="country" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Reference" formControlName="reference" required>
              </mat-form-field>
              <mat-form-field>
                <textarea matInput placeholder="Nom des documents" formControlName="docName" required></textarea>
              </mat-form-field>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-content>
            <h2 class="example-h2">Nombre de documents</h2>
            <div style="display:flex;flex-direction:column;margin:10px;">
              <div style="display:flex;align-items:baseline;justify-content: space-between;">
                <mat-form-field style="width:70px;">
                  <input type="number" min="0" matInput placeholder="Original" formControlName="originalNbr">
                </mat-form-field>
                <mat-checkbox [labelPosition]="'before'" formControlName="originalCheck">Original</mat-checkbox>
              </div>
              <div style="display:flex;align-items:baseline;justify-content: space-between;">
                <mat-form-field style="width:70px;">
                  <input type="number" min="0" matInput placeholder="Traduction" formControlName="translateNbr">
                </mat-form-field>
                <mat-checkbox [labelPosition]="'before'" formControlName="translateCheck">Traduction</mat-checkbox>
              </div>
              <div style="display:flex;align-items:baseline;justify-content: space-between;">
                <mat-form-field style="width:70px;">
                  <input type="number" min="0" matInput placeholder="Copie" formControlName="copyNbr">
                </mat-form-field>
                <mat-checkbox [labelPosition]="'before'" formControlName="copyCheck">Copie</mat-checkbox>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div *ngIf="myOrderForm.get('step1').valid" style="display:flex;margin:25px auto;width:120px;">
        <button mat-raised-button color="primary" matStepperNext>Etape Suivante</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="myOrderForm.get('step2')">
    <form [formGroup]="myOrderForm.get('step2')">
      <ng-template matStepLabel>Destination{{cptDestinationChecked>1?'s':''}}</ng-template>
      <div style="display:flex;margin:auto;width:1400px;" >
        <mat-card>
          <mat-card-content>
            <h2 class="example-h2">{{cptDestinationChecked}} Destination{{cptDestinationChecked>1?'s':''}} </h2>
            <div style="display:flex;flex-direction:column;width:200px;margin:10px;">
              <mat-checkbox (change)="incDestination($event.checked)" [labelPosition]="'after'" formControlName="communeCheck">Commune</mat-checkbox>
              <mat-checkbox (change)="incDestination($event.checked)" [labelPosition]="'after'" formControlName="notaireCheck">Notaire</mat-checkbox>
              <mat-checkbox (change)="incDestination($event.checked)" [labelPosition]="'after'" formControlName="consulatCheck">Consulat</mat-checkbox>
              <mat-checkbox (change)="incDestination($event.checked)" [labelPosition]="'after'" formControlName="greffeInstanceCheck">Greffe de 1ère instance</mat-checkbox>
              <mat-checkbox (change)="incDestination($event.checked)" [labelPosition]="'after'" formControlName="coursAppelCheck">Cours d’appel</mat-checkbox>
              <mat-checkbox (change)="incDestination($event.checked)" [labelPosition]="'after'" formControlName="spfEtrangereCheck">SPF affaires étrangères</mat-checkbox>
              <mat-checkbox (change)="incDestination($event.checked)" [labelPosition]="'after'" formControlName="spfJusticeCheck">SPF justice</mat-checkbox>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card *ngIf="myOrderForm.get(['step2','communeCheck']).value">
          <mat-card-content>
            <h2 class="example-h2">Commune</h2>
            <div style="display:flex;flex-direction:column;width:300px;margin:10px;">
              <div formArrayName="destination" *ngFor="let item of myOrderForm.get(['step2','destination']).controls; let i = index;">
                <div *ngIf="item.get('kind').value==='commune'" [formGroupName]="i">
                  <app-destination [formDestination]="item"></app-destination>
                </div>
              </div>
            </div>

          </mat-card-content>
        </mat-card>
        <mat-card *ngIf="myOrderForm.get(['step2','notaireCheck']).value">
          <mat-card-content>
            <h2 class="example-h2">Notaire</h2>
            <div style="display:flex;flex-direction:column;width:300px;margin:10px;">
              <div formArrayName="destination"
                   *ngFor="let item of arrayFormDataStep2.controls; let i = index;">
                <div *ngIf="item.get('kind').value==='notaire'" [formGroupName]="i">
                  <app-destination [formDestination]="item"></app-destination>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card *ngIf="myOrderForm.get(['step2','consulatCheck']).value">
          <mat-card-content>
            <h2 class="example-h2">Consulat</h2>
            <div style="display:flex;flex-direction:column;width:300px;margin:10px;">
              <div formArrayName="destination"
                   *ngFor="let item of arrayFormDataStep2.controls; let i = index;">
                <div *ngIf="item.get('kind').value==='consulat'" [formGroupName]="i">
                  <app-destination [formDestination]="item" ></app-destination>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div style="display:flex;margin:25px auto;width:220px;">
        <button mat-raised-button color="primary" matStepperPrevious>Retour</button>
        <div *ngIf="myOrderForm.get('step2').valid && cptDestinationChecked>0">
          <button mat-raised-button color="primary" matStepperNext>Etape suivante</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="myOrderForm.get('step3')">
    <form [formGroup]="myOrderForm.get('step3')">
      <ng-template matStepLabel>Procédure</ng-template>
      <div style="display:flex;flex-direction:column;margin:auto;width:685px;" >
        <mat-form-field style="width:685px;">
          <mat-select placeholder="Procédure" formControlName="procedureType" required>
            <mat-option></mat-option>
            <mat-option [value]="'normale'">normale</mat-option>
            <mat-option [value]="'urgente'">Urgente</mat-option>
          </mat-select>
        </mat-form-field>
        <div style="display:flex;width:300px;margin:10px;">
          <div  formArrayName="destination"  *ngFor="let item of arrayFormDataStep3.controls; let i = index;">
            <mat-card>
              <mat-card-content>
                <h2 class="example-h2">{{item.get('kind').value==='removal'?'Enlevement':'Destination'}}</h2>
                <app-destination  [formDestination]="item"></app-destination>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
      <div style="display:flex;margin:25px auto;width:220px;">
        <button mat-raised-button color="primary" matStepperPrevious>Retour</button>
        <div *ngIf="myOrderForm.get('step3').valid">
          <button (click)="initiateTemp(myOrderForm)" mat-raised-button color="primary" matStepperNext>Verification de la commande</button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Terminer</ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="send()">send</button>
    </div>

    <div style="display:flex;" *ngIf="myOrderFormTemp">
      <pre>{{myOrderFormTemp.value|json}}</pre>
    </div>

    <div *ngIf="(error$|async)?.message" style="border:3px solid red;">
      <pre>{{(error$|async)?.message}}</pre>
      <pre>{{(error$|async)?.error?.text}}</pre>
    </div>
  </mat-step>

</mat-horizontal-stepper>
<!--<pre>{{myOrderForm.get(['step2', 'destination']).value|json}}</pre>-->
