<div class="pos-rel">
  <form  novalidate [formGroup]="formGroup">
    <input id="{{propName}}" (focus)="toogleDropDown(propName, true)" type="{{type}}" formControlName="{{propName}}" autocomplete="off" placeholder="{{propName}}" >
  </form>
  <div clickOutside [myId]="propName" (clickOutside)="toogleDropDown(propName, false)" *ngIf="showDropDown" class="state-container-dropdown">
    <div>
      <div (click)="setSelectdedValue(propName, d[propName])" class="state" *ngFor="let d of data | clientCp:getSearchValue(propName):propName:propType;  let index=index">
      {{d[propName]}}
      </div>
    </div>
  </div>
</div>
