<div class="pos-rel">
  <form  novalidate [formGroup]="formGroup">

    <mat-form-field appearance="fill">
      <mat-label>Fill form {{propName}}</mat-label>
      <input matInput
             id="{{propName}}"
             (focus)="toogleDropDown(true)"
             type="{{propType}}"
             formControlName="{{propName}}"
             autocomplete="off"
             placeholder="{{propName}}"
             required>
      <mat-icon *ngIf="propName==='cp'" matSuffix></mat-icon>
      <mat-icon *ngIf="propName==='state'" matSuffix><fa-icon [icon]="['fas', 'university'] " size="xs"></fa-icon></mat-icon>
    </mat-form-field>


  </form>
  <div clickOutside [myId]="propName" (clickOutside)="toogleDropDown(false)" *ngIf="showDropDown" class="state-container-dropdown">
    <div>
      <div (click)="setSelectdedValue(propName, d[propName])" class="state" *ngFor="let d of data | clientCp:getSearchValue(propName):propName:propType;  let index=index">
      {{d[propName]}}
      </div>
    </div>
  </div>
</div>
