<div class="pos-rel">
  <form  novalidate [formGroup]="formGroup">
    <input id="{{name}}" (focus)="toogleDropDown(name, true)" type="number" formControlName="{{name}}" autocomplete="off" placeholder="{{name}}" >
  </form>
  <div clickOutside [myId]="name" (clickOutside)="toogleDropDown('name', false)" *ngIf="showDropDown" class="state-container-dropdown">
    <div>
      <div (click)="setSelectdedValue(name, d.cp)" class="state" *ngFor="let d of data | clientCp:getSearchValue(name);  let index=index">
        {{index}} {{d.cp}}
      </div>
    </div>
  </div>
</div>
