<!--<button type="button" (click)="success()">success</button>-->
<!--<button type="button" (click)="info()">info</button>-->
<!--<button type="button" (click)="warn()">warn</button>-->
<!--<button type="button" (click)="error()">error</button>-->
<p-confirmDialog header="Confirmation"
                 icon="fa fa-question-circle" width="400">
</p-confirmDialog>

<div class="conatinerFormData">

  <app-form
    [nameForm]="nameForm[0]"
    [datas]="removals$ | async"
    [isCustomer]="false"
    [formGroup]="formRemoval"
  >
  </app-form>

  <app-form
    [nameForm]="nameForm[1]"
    [datas]="recipients$ | async"
    [isCustomer]="false"
    [formGroup]="formRecipient"
  >
  </app-form>

  <app-option
    [formGroup]="formOptions"
  >
  </app-option>

  <button *ngIf="isFormsValide()" (click)="recapOrder()">Send order </button>

</div>





