<!--<button type="button" (click)="success()">success</button>-->
<!--<button type="button" (click)="info()">info</button>-->
<!--<button type="button" (click)="warn()">warn</button>-->
<!--<button type="button" (click)="error()">error</button>-->
<p-confirmDialog header="Confirmation"
                 icon="fa fa-question-circle" width="400">
</p-confirmDialog>

<div class="conatinerFormData">

  <app-form
    [nameForm]="nameForm[0]"
    [datas]="removals$  | async"
    [contact]="contact$"
    [isCustomer]="'notCascades'"
    [formGroup]="formRemoval"
    (updateDataForm)="isAllComplete($event)"
  >
  </app-form>

  <app-form
    [nameForm]="nameForm[1]"
    [datas]="recipients$  | async"
    [contact]="contact$"
    [isCustomer]="'notCascades'"
    [formGroup]="formRecipient"
    (updateDataForm)="isAllComplete($event)"
  >
  </app-form>

  <div class="options-distance">
    <app-option [formGroup]="formOptions"></app-option>

    <div *ngIf="distances.length === 2">
      <span>price: {{ formDistance.get('price').value }}</span>
      <br>
      <div>distance: {{ distances[0]?.distanceText }} + {{ distances[1]?.distanceText }}</div>
      <br>
      <div>time: {{ distances[0]?.durationText }} + {{ distances[1]?.durationText }}</div>
    </div>
    <form [formGroup]="formDistance">
      <input type="hidden" formControlName="status" value="{{distance?.status}}"><br>
      <input type="hidden" formControlName="price" value="{{distance?.price}}"><br>
      <input type="hidden" formControlName="distance" value="{{distance?.distanceValue}}"><br>
      <input type="hidden" formControlName="elapse_time" value="{{distance?.durationValue}}">
    </form>
  </div>
  <button *ngIf="isAllComplete()" (click)="recapOrder()">Send order </button>
</div>

distanceS: <pre>{{distances | json}}</pre><br>

formDistance= {{formDistance.value | json}}<br>

<div style="display:flex;">
  formRemoval = <pre>{{ allFormGroup[0].value | json}}</pre>
  formRecipient = <pre>{{ allFormGroup[1].value | json}}</pre>
</div>






