.conatinerFormData {
  border: 1px solid blue;
  margin:1px;
  padding:1px;
  display: flex;
}

.options-distance {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

