.conatinerFormData {
  /*border: 1px solid blue;*/
  /*background-color: rgba(0, 0, 0, 0.15);*/
  margin:1px;
  padding:1px;
  display: flex;
}

.options-distance {
  /*border: 1px solid green;*/

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-result {
  font-family: "Arial", Gadget, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.price-result  div {
  margin: 0 0 10px 0;
}
