<p-dialog header="Edit profile" [(visible)]="display">


  <!--  customer  -->
  <form *ngIf="formCustomer" novalidate [formGroup]="formCustomer" style="display:flex;flex-direction:column;color:black">
    <input type="hidden" formControlName="id">
    <mat-form-field class="example-full-width">
      <input matInput formControlName="name" placeholder="name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput formControlName="address" placeholder="address">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput formControlName="number" placeholder="number">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput formControlName="cp" placeholder="cp">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput formControlName="state" placeholder="state">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput formControlName="phone" placeholder="phone">
    </mat-form-field>

    <div formGroupName="infos">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="info1" placeholder="mail">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput formControlName="info2" placeholder="mdp">
      </mat-form-field>
    </div>
    <input type="hidden" formControlName="created">
    <input type="hidden" formControlName="fk_type">
    <button mat-raised-button type="button" [disabled]="formCustomer.invalid || formCustomer.pristine"
            (click)="saveCustomer()">save
    </button>
  </form>

</p-dialog>


<button mat-raised-button color="primary" (click)="showDialog()" pButton label="edit profile"></button>

