<div style="padding:10px" *ngIf="(customerId$|async) && (customerId$|async)<3">
  <app-menu-admin></app-menu-admin>
</div>

<div class="flex-menu">
  <div>
    <img src="assets/img/logo_sfe_long.jpg">
  </div>
  <div>

    <mat-form-field>
      <mat-select placeholder="Type de commande">
        <mat-option [value]="'Livraison'">
          <button style="width:100%;" mat-button routerLink="/menu/order" routerLinkActive="active-link">Livraison</button>
        </mat-option>
        <mat-option [value]="'Traduction'">
          <button style="width:100%;" mat-button routerLink="/menu/translate-order" routerLinkActive="active-link">Traduction</button>
        </mat-option>
        <mat-option [value]="'Import/Export'">
          <button style="width:100%;" mat-button routerLink="/menu/import-export-order" routerLinkActive="active-link">Import/Export</button>
        </mat-option>
        <!--<mat-option>-->
          <!--<button mat-button routerLink="/menu/import-export-order" routerLinkActive="active-link">Import/export</button>-->
        <!--</mat-option>-->
      </mat-select>
    </mat-form-field>

    <button mat-button routerLink="/menu/orders" routerLinkActive="active-link">Factures</button>
    <button mat-button routerLink="/menu/ie-orders" routerLinkActive="active-link">Factures légalisation</button>
    <button mat-button routerLink="/menu/removals" routerLinkActive="active-link">Enlèvements</button>
    <button mat-button routerLink="/menu/recipients" routerLinkActive="active-link">Destinataires</button>
    <!-- <button  mat-button routerLink="/menu/cascade" routerLinkActive="active-link">Légalisation (bientôt)</button> -->
    <app-profile></app-profile>
    <app-send-message></app-send-message>
    <button mat-button (click)="goPlaces()" color="warn">Déconnexion</button>
  </div>
</div>
<app-notification></app-notification>
<router-outlet></router-outlet>
