input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button{
  display: none;
  -webkit-appearance: none;
}

.mat-column-id {
  width: 10%;
}
.mat-column-created {
  width: 10%;
}
.mat-column-print {
  width: 2%;
}
table {
  width: 100%;
}

.example-first-header-row th {
  border-bottom: none;
}

.example-second-header-row {
  font-style: italic;
}

.example-first-footer-row {
  font-weight: bold;
}

.example-second-footer-row td {
  color: #900000;
}

td {
  font-size: 20px!important;
}

.example-header {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
}
