<form  *ngIf="isCustomer"  novalidate [formGroup]="formGroup">
  <input type="text" formControlName="name">
  <input type="text" formControlName="address">
  <input type="text" formControlName="number">
  <input type="text" formControlName="cp">
  <input type="text" formControlName="state">
  <input type="text" formControlName="phone">
  <input type="text" formControlName="info1">
  <input type="text" formControlName="info2">
  <!--<button *ngIf="isCustomer" type="button" (click)="editCustomer()">save</button>-->
</form>

<form  *ngIf="!isCustomer"  novalidate [formGroup]="formGroup">

  <div class="pos-rel">
    <input id="search" (click)="toogleDropDown()" type="text" formControlName="name">
    <div clickOutside (clickOutside)="toogleDropDown()" *ngIf="showDropDown" class="state-container-dropdown">
      <div>
        <div (click)="initSelectdedValue(data.name)" class="state" *ngFor="let data of datas | searchFilter:getSearchValue();  let index=index">
          {{index}} {{data.name}}
        </div>
      </div>
    </div>
  </div>

  <input type="text" formControlName="address">
  <input type="text" formControlName="number">
  <input type="text" formControlName="cp">
  <input type="text" formControlName="state">
  <input type="text" formControlName="phone">
  <input type="text" formControlName="info1">
  <input type="text" formControlName="info2">
  <!--<button *ngIf="isCustomer" type="button" (click)="editCustomer()">save</button>-->
</form>
