<p-confirmDialog header="Confirmation"
                 icon="fa fa-question-circle" width="400">
</p-confirmDialog>

<div  class="conatinerFormData">
  <app-form
    [nameForm]="nameForm[0]"
    [datas]="removals$ | async"
    [isCustomer]="'notCascades'"
    [formGroup]="formRemoval"
  >
  </app-form>
  <form  [formGroup]="formRecipientCascade">
    <div formArrayName="items"
         *ngFor="let item of formRecipientCascade.get('items').controls; let i = index;">
      <app-form
        [nameForm]="nameForm[1]"
        [datas]="recipients$ | async"
        [isCustomer]="'cascades'"
        [formGroup]="item"
      >
        valid?= {{item.valid}}
      </app-form>
      <button  *ngIf="i > 0" (click)="removeItemCascade(i)">-</button>
    </div>
    <button (click)="addItemCascade()">+</button>
  </form>
  <app-option [formGroup]="formOptions">
  </app-option>
  <button *ngIf="isFormsValide()" (click)="recapOrder()">Send order </button>
</div>
valid :{{ isFormsValide() }}



