
<div *ngIf="(customerId$|async)===0">
  <span style="color:red;padding:5px;margin:5px;border:1px solid red;">Veuiller vous déconnecter et vous relogger.</span>
  <button mat-button (click)="goPlaces()" color="warn">Déconnexion</button>
</div>

<div style="padding:10px" *ngIf="(customerId$|async) && (customerId$|async)<3">
  <button routerLink="/admin/clients">clients</button>
  <button routerLink="/admin/orders">edit normal orders</button>
  <button routerLink="/admin/translate">edit translate orders</button>
  <button routerLink="/admin/import-export">edit import/export</button>
  <button routerLink="menu">home</button>
</div>

<router-outlet></router-outlet>
