<form  *ngIf="isCustomer==='customer'"  novalidate [formGroup]="formGroup">
  <input type="hidden" formControlName="id">
  <input type="text" formControlName="name">
  <input type="text" formControlName="address">
  <input type="text" formControlName="number">
  <input type="number" formControlName="cp">
  <input type="text" formControlName="state">
  <input type="text" formControlName="phone">
  <div formGroupName="infos">
    <input type="text" formControlName="info1" >
    <input type="text" formControlName="info2">
  </div>
  <input type="text" formControlName="created">
  <input type="hidden" formControlName="fk_type">
  <button  type="button"  (click)="saveDataCustomer()">save</button>
</form>

<form  *ngIf="isCustomer==='notCascades'"  novalidate [formGroup]="formGroup">
  <app-input-autocompletion [propName]="'name'" [data]="_user" [propType]="'string'" [witchForm]="1"  [formGroup]="formGroup"></app-input-autocompletion>
  <app-input-autocompletion [propName]="'ref_client'" [data]="_user" [propType]="'string'" [witchForm]="1"   [formGroup]="formGroup"></app-input-autocompletion>
  <input type="hidden" formControlName="id">
  <input type="text" formControlName="address" [readonly]="true">
  <input type="text" formControlName="number" [readonly]="true">
  <input type="text" formControlName="cp" [readonly]="true">
  <input type="text" formControlName="state" [readonly]="true">
  <input type="text" formControlName="phone" [readonly]="true">
  <app-info [formGroup]="formGroup.get('infos')"></app-info>
  <input type="text" formControlName="created" [readonly]="true">
  <button (click)="resetForm(formGroup)">reset: {{ nameForm }}</button>
  <input type="hidden" formControlName="fk_type" [readonly]="true">
</form>

<form  *ngIf="isCustomer==='cascades'"  novalidate [formGroup]="formGroup">
  <app-input-autocompletion [propName]="'name'" [data]="_user" [propType]="'string'" [witchForm]="1"  [formGroup]="formGroup"></app-input-autocompletion>
  <app-input-autocompletion [propName]="'ref_client'" [data]="_user" [propType]="'string'" [witchForm]="1"   [formGroup]="formGroup"></app-input-autocompletion>
  <input type="hidden" formControlName="id">
  <app-info [formGroup]="formGroup.get('infos')"></app-info>
  <input type="text" formControlName="created" [readonly]="true">
  <button (click)="resetForm(formGroup)">reset: {{ nameForm }}</button>
  <input type="hidden" formControlName="fk_type" [readonly]="true">
</form>
