<!--  customer  -->
<form  *ngIf="isCustomer==='customer'"   novalidate [formGroup]="formGroup">
  <input type="hidden" formControlName="id">
  <input type="text" formControlName="name" placeholder="name">
  <input type="text" formControlName="address" placeholder="address">
  <input type="text" formControlName="number" placeholder="number">
  <input type="number" formControlName="cp" placeholder="cp">
  <input type="text" formControlName="state" placeholder="state">
  <input type="text" formControlName="phone" placeholder="phone">
  <div formGroupName="infos">
    <input type="text" formControlName="info1" placeholder="mail">
    <input type="text" formControlName="info2" placeholder="mdp">
  </div>
  <input type="hidden" formControlName="created">
  <input type="hidden" formControlName="fk_type">
  <button  type="button"  (click)="saveDataCustomer()">save</button>
</form>
<!--  notCascades  -->
<form *ngIf="isCustomer==='notCascades'"  novalidate [formGroup]="formGroup">
  <app-input-autocompletion [propName]="'name'" [data]="_user" [propType]="'string'" [witchForm]="1"  [formGroup]="formGroup"></app-input-autocompletion>
  <app-input-autocompletion [propName]="'ref_client'" [data]="_user" [propType]="'string'" [witchForm]="1"   [formGroup]="formGroup"></app-input-autocompletion>
  <input type="hidden" formControlName="id">
  <input type="text" formControlName="address" [readonly]="true" placeholder="address">
  <input type="text" formControlName="number" [readonly]="true" placeholder="number">
  <input type="text" formControlName="cp" [readonly]="true" placeholder="cp">
  <input type="text" formControlName="state" [readonly]="true" placeholder="state">
  <input type="text" formControlName="phone" [readonly]="true" placeholder="phone">
  <app-info [formGroup]="formGroup.get('infos')"></app-info>
  <input type="hidden" formControlName="created" [readonly]="true">
  <!--<button (click)="resetForm(formGroup)">reset: {{ nameForm }}</button>-->
  <input type="hidden" formControlName="fk_type" [readonly]="true">
</form>
<!--  cascades  -->
<form [ngClass]="{ 'notValid': !formGroup.valid }"  *ngIf="isCustomer==='cascades'"  novalidate [formGroup]="formGroup">
  <app-input-autocompletion [propName]="'name'" [data]="_user" [propType]="'string'" [witchForm]="1"  [formGroup]="formGroup"></app-input-autocompletion>
  <app-input-autocompletion [propName]="'ref_client'" [data]="_user" [propType]="'string'" [witchForm]="1"   [formGroup]="formGroup"></app-input-autocompletion>
  <input type="hidden" formControlName="id">
  <app-info [formGroup]="formGroup.get('infos')"></app-info>
  <input type="hidden" formControlName="created" [readonly]="true">
  <!--<button (click)="resetForm(formGroup)">reset: {{ nameForm }}</button>-->
  <input type="hidden" formControlName="fk_type" [readonly]="true">
</form>
