.container {
  display: flex;
  flex-wrap: wrap;
}
.formRemoval {
  display: flex;
  border: 1px solid #ccc;
  margin: 5px;
  flex: 0 0 10%;
  padding: 5px;
}
.formRemoval form {
  display: flex;
  flex-direction: column;

  flex: 1;
}

input[type="text"]:disabled, input[type="number"]:disabled, input[type="date"]:disabled    {
  background-color: #ccc;
}

