<form  *ngIf="isCustomer"  novalidate [formGroup]="formGroup">
  <input type="hidden" formControlName="id">
  <input type="text" formControlName="name">
  <input type="text" formControlName="address">
  <input type="text" formControlName="number">
  <input type="number" formControlName="cp">
  <input type="text" formControlName="state">
  <input type="text" formControlName="phone">
  <div formGroupName="infos">
    <input type="text" formControlName="info1" >
    <input type="text" formControlName="info2">
  </div>
  <input type="text" formControlName="created">
  <input type="hidden" formControlName="fk_type">
  <button  type="button" [disabled]="!formGroup.valid || formGroup.pristine" (click)="saveDataCustomer()">save</button>
</form>

<form  *ngIf="!isCustomer"  novalidate [formGroup]="formGroup">

  <div class="pos-rel">
    <input id="search" (click)="toogleDropDown()" type="text" formControlName="name" >
    <div clickOutside  (clickOutside)="toogleDropDown()" *ngIf="showDropDown" class="state-container-dropdown">
      <div>
        <div (click)="initSelectdedValue(d.name)" class="state" *ngFor="let d of _user | searchFilter:getSearchValue();  let index=index">
          {{index}} {{d.name}}
        </div>
      </div>
    </div>
  </div>

  <input type="hidden" formControlName="id">
  <input type="text" formControlName="address" [readonly]="true">
  <input type="text" formControlName="number" [readonly]="true">
  <input type="text" formControlName="cp" [readonly]="true">
  <input type="text" formControlName="state" [readonly]="true">
  <input type="text" formControlName="phone" [readonly]="true">

  <app-info
    [formGroup]="formGroup.get('infos')"
    (updateDataFormInfosFromChild)="updateDataFormInfosFromChild($event)"
  >
  </app-info>

  <input type="text" formControlName="created" [readonly]="true">
  <input type="hidden" formControlName="fk_type" [readonly]="true">
  <!--<button *ngIf="isCustomer" type="button" (click)="editCustomer()">save</button>-->
</form>
