form{
  border: 1px solid red;
  margin:1px;
  padding:1px;
  display: flex;
  flex-direction: column;
}
.pos-rel {
  position: relative;
}
.state-container-dropdown {
  position: absolute;
  z-index: 1;
  width: 200px;
  max-height: 200px;
  background-color: #ccc;
  overflow-y: auto;
}

.state {
  pading: 10px;
  font-family: sans-serif;
  color: #fff;
}

.state:hover{
  background-color: #000;
}
