<form  novalidate [formGroup]="formGroup">
  <input type="radio" value="express" formControlName="options"> express
  <input type="radio" value="double_express" formControlName="options"> double_express
  <input type="radio" value="go_and_back" formControlName="options"> go_and_back
  <br>
  <input type="checkbox" value="tomorrow" formControlName="tomorrow"> tomorrow
  <br>
  <input type="radio" value="moto" formControlName="transport"> Scooter/Moto
  <input type="radio" value="voiture" formControlName="transport"> Voiture/Camionette

  <br>
  {{formGroup.valid}}
</form>
